		
<h2>Color <%= color.color %></h2>
<div class="row-fluid">
	<a class="nav_arrow span1 offset2" href="#products/<%= color.prev %>">Prev</a>
	<img class="imgProducto span6" alt="red" src="img/<%= color.color %>.jpg"/>
	<a class="nav_arrow span1" href="#products/<%= color.next %>">Next</a>
</div>
<p id="info">
	Final week crying mother rainbow bacon oboma i'm watching u homework megusta.
	Hac for derp house i know that feel homer dead grey forever alone. 
	Mom too mainstream luke lois asian ipsum bart so close happy. 
	Poker face creepy me gusta gentlemen architect weekend okay diablo 3 simpson le derp. 
	Cat close enough freddie mercury collection pizza scared keyboard college michelle in class. 
	Angry birds nap le friend hammer students amet face avenger varius joke. 
	I See What You Did There nyan cat like a boss left not bad strangers amnesia father party meme essay gag. 
	Problem? Geek steve jobs viverra dad russia in y u no lose. 
	Grin superhero unsave le me good guy dummies german bear.
	Facepalm venenatis cookie monster monday gasp portfolio movies brother food. Star wars that.
</p>
			
		