<link href="css/slides.css" rel="stylesheet"	type="text/css"/>
<h1>Photo Gallery</h1>
<div class="container">
	<div class="slider-wrapper">
		<ul class="s-thumbs">
			<li><a href="#slide-1"><img src="img/slides/thumb1.png" alt="" /></a></li>
			<li><a href="#slide-2"><img src="img/slides/thumb2.png" alt="" /></a></li>
			<li><a href="#slide-3"><img src="img/slides/thumb3.png" alt="" /></a></li>
			<li><a href="#slide-4"><img src="img/slides/thumb4.png" alt="" /></a></li>
			<li><a href="#slide-5"><img src="img/slides/thumb5.png" alt="" /></a></li>
			<li><a href="#slide-6"><img src="img/slides/thumb6.png" alt="" /></a></li>
			<li><a href="#slide-7"><img src="img/slides/thumb7.png" alt="" /></a></li>
		</ul>
		<ul class="s-slides">
			<li id="slide-1" class="slideLeft"><img src="img/slides/1.png" alt="" /></li>
			<li id="slide-2" class="slideRight"><img src="img/slides/2.png" alt="" /></li>
			<li id="slide-3" class="slideTop"><img src="img/slides/3.png" alt="" /></li>
			<li id="slide-4" class="slideBottom"><img src="img/slides/4.png" alt="" /></li>
			<li id="slide-5" class="zoomIn"><img src="img/slides/5.png" alt="" /></li>
			<li id="slide-6" class="zoomOut"><img src="img/slides/6.png" alt="" /></li>
			<li id="slide-7" class="rotate"><img src="img/slides/7.png" alt="" /></li>
		</ul>
	</div>
</div>